.main {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.buttons {
  margin-bottom: 20px;
  border-radius: 20%;
  background-color: aqua;
  width: 50px;
  height: 50px;
  font-size: justify;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0px 3px 2px #1bDDaa;
  line-height: 50px;
}

.answer {
  background-color: rgb(175, 255, 188);
  width: 230px;
  border-radius: 20px;
  line-height: 50px;
  text-align: left;
  padding-left: 5px;
  box-sizing: border-box;
}